[Unit]
Description=Pingu Mihomo proxy core
After=network-online.target nftables.service
Wants=network-online.target

[Service]
Type=simple
User=root
UMask=0077
ExecStartPre=/usr/local/bin/mihomo -t -d /etc/mihomo -f /etc/mihomo/config.json
ExecStart=/usr/local/bin/mihomo -d /etc/mihomo -f /etc/mihomo/config.json
Restart=on-failure
RestartSec=2s
LimitNOFILE=65536
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/etc/mihomo

[Install]
WantedBy=multi-user.target
